.product-container {
    padding: 20px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.product-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}



.pagination button.active {
    background-color: #007bff;
    color: white;
}

.product-action-button {
    padding: 4px 8px;
    margin-right: 4px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.product-edit-button {
    background-color: #ffc107;
    color: #000;
}

.product-delete-button {
    background-color: #dc3545;
    color: #fff;
}

.product-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;

}