.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signupbtn {
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.cancelbtn {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}